<nav
  class="navbar z-3 fixed-top text-uppercase bg-warning-subtle navbar-expand-lg py-1"
>
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#"><img class="w-25 rounded-circle" src="/imgs/logo-Assign.jpg" alt=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="bg-info rounded" aria-current="page" routerLink="home">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="bg-warning rounded" routerLink="about">about</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="bg-success rounded" routerLink="meals">meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="bg-secondary rounded" routerLink="team">team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="bg-danger rounded" routerLink="contacts">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>