<nav class="" id="meals">
  <div class="meals-navBar  bg-dark-subtle w-50 mx-auto rounded-5">
    <ul class="d-flex justify-content-center p-3 fw-bold list-unstyled gap-3">
        <li><a class="text-decoration-none p-2 text-black rounded-5" routerLinkActive="bg-info-subtle rounded"  routerLink="SeaFood">SeaFood</a></li>
        <li><a class="text-decoration-none p-2 text-black rounded-5" routerLinkActive="bg-white rounded" routerLink="Pasta">Pasta</a></li>
      <li><a class="text-decoration-none p-2 text-black rounded-5" routerLinkActive="bg-warning rounded" routerLink="BreakFast">BreakFast</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

