<section id="seafood">
<div class="container">
    <div class="row ">
        <div class="col-md-3">
            <div class="card" >
                <img src="food images/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Fish pie </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Fish Soup (Ukha)
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img src="food images/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Fish Stew with Rouille
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Garides Saganaki
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Grilled Portuguese sardines
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Honey Teriyaki Salmon
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Kedgeree
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Mee goreng mamak
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Laksa King Prawn Noodles
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Nasi lemak
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/11.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Recheado Masala Fish
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/12.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Salmon Avocado Salad
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/13.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Salmon Prawn Risotto
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/14.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Seafood fideuà
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="food images/15.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Sushi
                    </h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>
</section>