<header id="home" class="">
  <div class="home-header p-3 bg-dark-subtle text-dark-emphasis text-center">
    home
  </div>
  
  <div class="home-title py-3">
    <h4 class="fw-bold fs-5 text-center">Special title For Home</h4>
    <p class="text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci,
      repellat aut possimus sint at magni eligendi laborum, incidunt tempore
      saepe excepturi veritatis earum. Consequuntur, numquam sapiente expedita
      error vitae deserunt dolore quisquam. Assumenda quod molestias nihil fuga
      harum quam perferendis molestiae alias atque, dicta sed cumque? Eius omnis
      quasi nemo molestias officiis architecto at alias aliquam iste nulla,
      aspernatur tenetur quisquam? Sint libero, sunt tempora asperiores incidunt
      ab laborum. Dicta quisquam enim alias dolorem non minus eum ipsa. Soluta
      officiis vitae explicabo praesentium adipisci placeat ullam, reiciendis
      aut omnis neque et dolorem debitis cupiditate enim doloremque. Officia ad
      libero ipsum laudantium aspernatur, impedit, adipisci debitis repellat
      perspiciatis, magnam dolores unde! Minima commodi ea saepe eveniet
      molestias necessitatibus, similique earum odio sunt at ducimus magnam
      aperiam distinctio tenetur amet beatae, praesentium voluptas, ratione
      error repellat expedita omnis quas. Eaque, aperiam. Omnis dolor eos
      debitis laboriosam! Architecto atque sunt necessitatibus aut, inventore
      corrupti aliquam dolorum amet voluptate voluptatem pariatur! Commodi
      inventore ducimus omnis est voluptates ratione, amet voluptas ab aliquam
      possimus doloremque debitis quidem molestias esse voluptatem? Officia fuga
      corrupti tempora numquam? Quibusdam explicabo voluptatem quaerat, aliquam
      vel accusantium nobis unde illo voluptates sequi officia cupiditate
      tenetur! Exercitationem, excepturi officiis! Iure, eum. Adipisci corrupti,
      beatae iste maxime dolore nemo eligendi nam quis tenetur commodi? Veniam a
      quaerat accusamus, ut consectetur similique debitis possimus
      necessitatibus maxime veritatis blanditiis tenetur temporibus odit aperiam
      placeat voluptas aut, atque ipsa, natus officia harum sapiente nesciunt.
      Possimus hic distinctio eveniet officia pariatur quos velit perferendis
      voluptatibus alias ratione dolore, ea impedit nostrum quis iste quasi
      voluptatem voluptates necessitatibus cum repudiandae quae aliquid incidunt
      suscipit voluptas. Officiis a quos error tempora facilis! Animi fuga, enim
      mollitia totam rem deleniti cum, illo, laboriosam eligendi fugiat vero?
      Quae accusamus fuga est corporis. Asperiores nesciunt consequatur
      perspiciatis! Voluptas dignissimos suscipit minus!
    </p>
  </div>
  <div class="home-header p-3 bg-dark-subtle text-dark-emphasis text-center">
    2 days off
  </div>
  
</header>
